# Default owner for everything in the repo
*   @GetStream/android-developers

### Modules
# Common
stream-chat-android-docs       @GetStream/android-developers

# Core
stream-chat-android-client                  @GetStream/android-developers
stream-chat-android-client-test             @GetStream/android-developers
stream-chat-android-core                    @GetStream/android-developers
stream-chat-android-pushprovider-firebase   @GetStream/android-developers
stream-chat-android-pushprovider-huawei     @GetStream/android-developers
stream-chat-android-pushprovider-xiaomi     @GetStream/android-developers
stream-chat-android-test                    @GetStream/android-developers

# UI
stream-chat-android-ui-common               @GetStream/android-developers
stream-chat-android-ui-components           @GetStream/android-developers
stream-chat-android-ui-components-sample    @GetStream/android-developers
stream-chat-android-compose                 @GetStream/android-developers
stream-chat-android-compose-sample          @GetStream/android-developers
stream-chat-android-ui-guides               @GetStream/android-developers
stream-chat-android-ui-uitests              @GetStream/android-developers

# Libraries
libraries/external                           @GetStream/android-developers
libraries/logging/stream-logger              @GetStream/android-developers
libraries/logging/stream-logger-android      @GetStream/android-developers
libraries/logging/stream-logger-android-init @GetStream/android-developers
libraries/logging/stream-logger-file         @GetStream/android-developers

### Top level files and directories
# Git and GitHub
.gitattributes              @GetStream/android-developers
.gitignore                  @GetStream/android-developers
.github                     @GetStream/android-developers
hooks                       @GetStream/android-developers

# Build config
.sign                       @GetStream/android-developers
build.gradle                @GetStream/android-developers
buildSrc                    @GetStream/android-developers
gradle                      @GetStream/android-developers
gradle.properties           @GetStream/android-developers
gradlew                     @GetStream/android-developers
gradlew.bat                 @GetStream/android-developers
jitpack.yml                 @GetStream/android-developers
scripts                     @GetStream/android-developers
settings.gradle             @GetStream/android-developers

# Docs
CHANGELOG.md                            @GetStream/android-developers
DEPRECATIONS.md                         @GetStream/android-developers
CONTRIBUTING.md                         @GetStream/android-developers
LICENSE                                 @GetStream/android-developers
README.md                               @GetStream/android-developers
DokkaRoot.md                            @GetStream/android-developers
docs                                    @GetStream/android-developers

# Misc
.idea                       @GetStream/android-developers

# Detekt
config/detekt       @jcminarro
*baseline.xml       @GetStream/android-developers
