*.iml
buildSrc/build
sample/release/*
sample/.sign/keystore.properties
sample/.sign/keystore.properties.asc
sample/.sign/release.keystore
sample/.sign/release.keystore.asc
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/sample/app-config-custom.json
/attachments/*
