*.iml
buildSrc/build
stream-chat-android-components-sample/release/*
stream-chat-android-components-sample/.sign/keystore.properties
stream-chat-android-components-sample/.sign/keystore.properties.asc
stream-chat-android-components-sample/.sign/release.keystore
stream-chat-android-components-sample/.sign/release.keystore.asc
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
stream-chat-android-components-sample/app-config-custom.json
/attachments/*
