<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.getstream.chat.android.ui.common"
    >

    <queries>
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application>
        <activity android:name="com.getstream.sdk.chat.view.activity.AttachmentDocumentActivity" />

        <provider
            android:name="com.getstream.sdk.chat.StreamFileProvider"
            android:authorities="${applicationId}.streamfileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/stream_filepaths"
                />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge"
            >
            <meta-data
                android:name="com.getstream.sdk.chat.startup.ThreeTenInitializer"
                android:value="androidx.startup"
                />
        </provider>
    </application>

</manifest>
