<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (c) 2014-2026 Stream.io Inc. All rights reserved.

    Licensed under the Stream License;
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      https://github.com/GetStream/stream-chat-android/blob/main/LICENSE

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.getstream.chat.android.compose.sample"
    >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Storage permissions for in-app attachment picker (useSystemPicker = false) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Storage permission for downloading attachments (Android 9 and below) -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        />

    <application
        android:name="io.getstream.chat.android.compose.sample.ChatApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <profileable
            android:shell="true"
            tools:targetApi="29"
            />

        <activity
            android:name=".ui.StartupActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.App.Splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.UserLoginActivity"
            android:exported="false"
            android:label="@string/user_login_screen_title"
            />
        <activity
            android:name=".ui.login.CustomLoginActivity"
            android:exported="false"
            android:label="@string/user_login_advanced_options"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".ui.chats.ChatsActivity"
            android:exported="false"
            android:label="@string/app_bottom_bar_chats"
            />
        <activity
            android:name=".feature.channel.list.ChannelsActivity"
            android:exported="false"
            android:label="@string/app_bottom_bar_chats"
            />
        <activity
            android:name=".ui.channel.ChannelActivity"
            android:exported="false"
            android:label="@string/channel_title"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".ui.channel.DirectChannelInfoActivity"
            android:exported="false"
            android:label="@string/stream_ui_channel_info_contact_title"
            />
        <activity
            android:name=".ui.channel.GroupChannelInfoActivity"
            android:exported="false"
            android:label="@string/stream_ui_channel_info_group_title"
            />
        <activity
            android:name=".ui.pinned.PinnedMessagesActivity"
            android:exported="false"
            android:label="@string/pinned_messages_title"
            />
        <activity
            android:name=".feature.channel.add.AddChannelActivity"
            android:exported="false"
            android:label="@string/add_channel_title"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".feature.channel.add.group.AddGroupChannelActivity"
            android:exported="false"
            android:label="@string/add_group_channel_members_title"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".feature.channel.draft.DraftChannelActivity"
            android:exported="false"
            android:label="@string/stream_compose_channel_list_header_new_chat"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".feature.reminders.MessageRemindersActivity"
            android:label="@string/reminders_title"
            />
        <activity
            android:name=".ui.profile.UserProfileActivity"
            android:label="@string/user_profile_title"
            />
        <activity
            android:name=".ui.channel.attachments.ChannelFilesAttachmentsActivity"
            android:label="@string/stream_ui_channel_attachments_files_title"
            />
        <activity
            android:name=".ui.channel.attachments.ChannelMediaAttachmentsActivity"
            android:label="@string/stream_ui_channel_attachments_media_title"
            />
    </application>
</manifest>
