<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.getstream.chat.docs"
    >

    <application>
        <activity
            android:name=".kotlin.cookbook.CookbookMainActivity"
            android:exported="true"
            android:label="Chat Cookbook App"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>