<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.getstream.chat.android.pushprovider.huawei">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name="io.getstream.chat.android.pushprovider.huawei.ChatHuaweiMessagingService"
            android:exported="false"
            >
            <intent-filter android:priority="-1" >
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
