name: App Distribute CI

on:
  push:
    branches:
      - develop
      - main
      - release
      - v5

jobs:
  build_ui_components_sample_app:
    name: Build and Distribute UI Components Sample App
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Set up JDK 17
        uses: actions/setup-java@v3.6.0
        with:
          distribution: adopt
          java-version: 17
      - name: Prepare environment
        run: |
          git fetch --unshallow
          echo "${{ secrets.RELEASE_KEYSTORE }}" > .sign/release.keystore.asc
          gpg -d --passphrase "${{ secrets.PASSPHRASE }}" --batch .sign/release.keystore.asc > .sign/release.keystore
          echo "${{ secrets.RELEASE_KEYSTORE_PROPERTIES }}" > .sign/keystore.properties.asc
          gpg -d --passphrase "${{ secrets.PASSPHRASE }}" --batch .sign/keystore.properties.asc > .sign/keystore.properties
      - name: Assemble
        run: bash ./gradlew :stream-chat-android-ui-components-sample:assembleDemoRelease --stacktrace
      - name: Upload APK
        uses: actions/upload-artifact@v3.1.0
        with:
          name: stream-chat-android-ui-components-sample-release
          path: stream-chat-android-ui-components-sample/build/outputs/apk/demo/release/
      - name: Upload artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{secrets.FIREBASE_UI_SAMPLE_APP_ID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          groups: stream-testers
          file: stream-chat-android-ui-components-sample/build/outputs/apk/demo/release/stream-chat-android-ui-components-sample-demo-release.apk

  build_compose_sample_app:
    name: Build and Distribute Compose Sample App
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Set up JDK 17
        uses: actions/setup-java@v3.6.0
        with:
          distribution: adopt
          java-version: 17
      - name: Prepare environment
        run: |
          git fetch --unshallow
          echo "${{ secrets.RELEASE_KEYSTORE }}" > .sign/release.keystore.asc
          gpg -d --passphrase "${{ secrets.PASSPHRASE }}" --batch .sign/release.keystore.asc > .sign/release.keystore
          echo "${{ secrets.RELEASE_KEYSTORE_PROPERTIES }}" > .sign/keystore.properties.asc
          gpg -d --passphrase "${{ secrets.PASSPHRASE }}" --batch .sign/keystore.properties.asc > .sign/keystore.properties
      - name: Assemble
        run: bash ./gradlew :stream-chat-android-compose-sample:assembleRelease --stacktrace
      - name: Upload APK
        uses: actions/upload-artifact@v3.1.0
        with:
          name: stream-chat-android-compose-sample-release
          path: stream-chat-android-compose-sample/build/outputs/apk/release/
      - name: Upload artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{secrets.FIREBASE_COMPOSE_SAMPLE_APP_ID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          groups: stream-testers
          file: stream-chat-android-compose-sample/build/outputs/apk/release/stream-chat-android-compose-sample-release.apk
