name: automerge
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}
jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.12.0"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: "automerge"                        # automerge PRs with the 'automerge' label when ready
          MERGE_REMOVE_LABELS: "automerge,no-autorebase"   # remove these labels after the PR is merged
          MERGE_METHOD: "merge"                            # regular merge, with a merge commit
          MERGE_FORKS: "false"                             # don't manage forks
          MERGE_COMMIT_MESSAGE: "automatic"                # default GitHub commit message
          UPDATE_METHOD: "rebase"                          # update open PRs by rebasing them to target branch
          UPDATE_LABELS: "!no-autorebase"                  # prevent auto-rebase with the 'no-autorebase' label, auto-rebase all others
