name: Build and test

on:
  push:
    branches:
      - develop
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  debug_build:
    name: Debug build
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3.1.0
      - uses: ./.github/actions/setup-java
      - name: Build
        run: ./gradlew assembleDebug :stream-chat-android-ui-uitests:assembleDebugAndroidTest

  release_build:
    name: Release build
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3.1.0
      - uses: ./.github/actions/setup-java
      - name: Build
        run: ./gradlew assembleRelease

  tests:
    name: Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3.1.0
      - uses: ./.github/actions/setup-java
      - name: Unit tests
        run: ./scripts/ci-unit-tests.sh
      - name: Upload testDebugUnitTest results
        uses: actions/upload-artifact@v4.4.3
        if: failure()
        with:
          name: testDebugUnitTest
          path: ./**/build/reports/tests/testDebugUnitTest
      - uses: ./.github/actions/setup-ruby
      - name: Sonar
        run: bundle exec fastlane run_sonar_analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  size_check_xml:
    name: Size Check XML
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3.1.0
      - uses: ./.github/actions/setup-java
      - name: build demo debug
        run: ./gradlew stream-chat-android-ui-components-sample:assembleDemoDebug
      - name: Upload artifact to Emerge
        uses: EmergeTools/emerge-upload-action@v1.0.2
        with:
          artifact_path: ./stream-chat-android-ui-components-sample/build/outputs/apk/demo/debug/stream-chat-android-ui-components-sample-demo-debug.apk
          emerge_api_key: ${{ secrets.EMERGE_TOOLS_API_KEY }}
          build_type: debug

  size_check_compose:
    name: Size Check Compose
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3.1.0
      - uses: ./.github/actions/setup-java
      - name: build debug
        run: ./gradlew stream-chat-android-compose-sample:assembleDebug
      - name: Upload artifact to Emerge
        uses: EmergeTools/emerge-upload-action@v1.0.2
        with:
          artifact_path: ./stream-chat-android-compose-sample/build/outputs/apk/demo/debug/stream-chat-android-compose-sample-demo-debug.apk
          emerge_api_key: ${{ secrets.EMERGE_TOOLS_API_KEY }}
          build_type: debug
