name: Upload to Localazy
on:
  push:
    branches:
      - develop
    paths:
      - 'stream-chat-android-client/src/main/res/values/strings.xml'
      - 'stream-chat-android-compose/src/main/res/values/strings.xml'
      - 'stream-chat-android-ui-common/src/main/res/values/strings.xml'
      - 'stream-chat-android-ui-components/src/main/res/values/strings.xml'
      - 'stream-chat-android-ui-utils/src/main/res/values/strings.xml'

jobs:
  localazy-upload:
    name: Upload strings to Localazy
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v1
      - uses: GetStream/android-ci-actions/actions/setup-java@main
      - uses: localazy/upload@v1
        with:
          read_key: ${{ secrets.LOCALAZY_READ_KEY }}
          write_key: ${{ secrets.LOCALAZY_WRITE_KEY }}
