name: Pull request CI checks

on: [ pull_request ]

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  base-android-ci:
    uses: GetStream/stream-build-conventions-android/.github/workflows/android-ci.yml@v0.7.1
    secrets: inherit

  detekt:
    name: Detekt
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: GetStream/stream-build-conventions-android/.github/actions/setup-gradle@v0.7.1
      - name: Detekt
        run: ./gradlew detekt

  rubocop:
    name: Rubocop
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: GetStream/android-ci-actions/actions/setup-ruby@main
      - run: bundle exec fastlane rubocop
