name: Publish New Version

on:
  workflow_dispatch:
    inputs:
      bump:
        required: true
        type: choice
        description: "Type of version bump to perform"
        options:
          - patch
          - minor
          - major
        default: minor

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  pre_release_check:
    name: Pre release check
    runs-on: ubuntu-24.04
    environment: 'publish'
    steps:
      - name: Check
        id: pre_release_check_step
        run: echo "Pre release check"
  publish:
    permissions:
      contents: write
    needs: pre_release_check
    uses: GetStream/stream-build-conventions-android/.github/workflows/release.yml@v0.9.0
    with:
      bump: ${{ inputs.bump }}
    secrets:
      github-token: ${{ secrets.STREAM_PUBLIC_BOT_TOKEN }}
      maven-central-username: ${{ secrets.OSSRH_USERNAME }}
      maven-central-password: ${{ secrets.OSSRH_PASSWORD }}
      signing-key: ${{ secrets.SIGNING_KEY }}
      signing-key-id: ${{ secrets.SIGNING_KEY_ID }}
      signing-key-password: ${{ secrets.SIGNING_PASSWORD }}
