name: Publish API docs

on:
  release:
    types: [released]

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  publish:
    name: Dokka docs
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - name: Generate Dokka HTML docs
        run: ./gradlew dokkaHtmlMultimodule
      - name: Deploy to GitHub pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/dokka/htmlMultiModule
          publish_branch: gh-pages
