name: Snapshot-Record

on: workflow_dispatch

jobs:
  record_snapshots:
    name: Record snapshots
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3.1.0
        with:
          ref: develop
      - name: Set up JDK 17
        uses: actions/setup-java@v3.6.0
        with:
          distribution: adopt
          java-version: 17
      - uses: ./.github/actions/gradle-cache
        with:
          key-prefix: gradle-test
      - name: Snapshot tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 26
          disable-animations: true
          profile: pixel
          arch : x86_64
          emulator-options: -no-snapshot-save -no-window -no-audio -no-boot-anim -gpu swiftshader_indirect -camera-back none -camera-front none
          script: ./gradlew stream-chat-android-ui-uitests:executeScreenshotTests -Precord -Pandroid.testInstrumentationRunnerArguments.filter=io.getstream.chat.android.uitests.util.SnapshotTestFilter
      - name: Upload screnshots
        uses: actions/upload-artifact@v3.1.0
        with:
          name: screenshots
          path: ${{ github.workspace }}/stream-chat-android-ui-uitests/screenshots/
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "Update screenshots"
          title: "Update screenshots"
          delete-branch: true
          reviewers: GetStream/android-developers-ui
          branch: update-screenshots
