name: Snapshot-Test

on: 
  schedule:
    - cron: '0 1 * * *'

jobs:
  run_snapshot_tests:
    name: Record snapshots
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - uses: ./.github/actions/gradle-cache
        with:
          key-prefix: gradle-test
      - name: Snapshot tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 28
          disable-animations: true
          profile: Nexus 4
          script: ./gradlew stream-chat-android-ui-uitests:executeScreenshotTests
      - name: Upload screnshot results
        uses: actions/upload-artifact@v2
        with:
          name: screenshots
          path: ${{ github.workspace }}/stream-chat-android-ui-uitests/screenshots/
